
#main {
	width: 0vw;
	height: 11vw;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 20px black;
	font-family: "Roboto", sans-serif;
	font-size: 10vw;
	justify-content: flex-start;
	align-items: center;
	display: flex;
	flex-direction: column;
	overflow: hidden;

}
#main p {
	margin: 0;
	line-height: 0;
	margin-top: 0;
}

img {
	height: auto;
	max-width: 100%;
}